{{ template "admin/templates/admin_header" .}}
{{ template "admin/templates/admin_sidebar" .}}

<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-warning">
        {{ .Title }}
      </h6>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12">
          <form method="post" action="/admin/iklan/create" enctype="multipart/form-data">
            <div class="form-group">
              <label for="name">Nama Iklan</label>
              <input type="text" class="form-control" name="name" id="name" placeholder="Nama Iklan" value="">
            </div>
            <div class="form-group">
              <label for="image">Foto Iklan</label>
              <br>
              <input type="file" name="image" id=" image" accept="image/png, image/jpeg, image/jpg">
            </div>
            <div class="form-group">
              <label for="video">Video Iklan</label>
              <br>
              <input type="file" name="video" id=" video" accept="video/mp4, video/mkv">
            </div>
            <div class="form-group">
              <label for="description">Deskripsi</label>
              <textarea rows="6" class="form-control" name="description" id="description"></textarea>
            </div>

            <button type="submit" class="btn btn-warning">Simpan</button>
            &nbsp;
            <a href="/admin/iklan" class="btn btn-dark">Back</a>
          </form>

        </div>
      </div>
    </div>

  </div>
  <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

{{ template "admin/templates/admin_footer" .}}