{{template "partials/header" .}}
<h1>Selamat Datang {{.Admin.Name}}</h1>
<br>
<div>
	<table class="table table-striped">
		<thead>
		  <tr>
			<th scope="col">#</th>
			<th scope="col">Nama Vendor</th>
			<th scope="col">Status</th>
			<th scope="col">Actions</th>
		  </tr>
		</thead>
		<tbody>
			<tr>
				{{range .Vendor}}
				<th scope="row">{{.Id}}</th>
				<td>{{.Name}}</td>
				<td>Available</td>
				<td>
					<a href="#" class="btn btn-outline-info">
						Detail</a>
					&nbsp;
					<a href="#" class="btn btn-outline-info">
							Detail 2</a>
					<a class="btn btn-danger" href="#" role="button">Banned</a>
				</td>
			</tr>  
		</tbody>
	  </table>
</div>
{{template "partials/footer" .}}